@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: black;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  progress {
    @apply w-full h-2 shadow;
  }
  progress::-webkit-progress-bar {
    @apply bg-base-m rounded;
  }
  progress::-webkit-progress-value {
    @apply rounded;
  }

  textarea,
  input,
  select {
    @apply rounded bg-base-m text-txtPrimary h-10 px-2 w-full border border-base-s focus:border-pink-500 focus:outline-none;
  }

  textarea {
    @apply h-20;
  }

  a {
    @apply font-medium text-pink-500 active:text-pink-700 hover:underline focus:outline-none;
  }

  hr {
    @apply my-2 border-b border-pink-500;
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  @apply bg-pink-100 rounded-full !text-pink-600 !fill-pink-400 border !border-pink-200 !text-md py-2 px-3.5 !font-bold;
}

@layer components {
  .btn {
    @apply rounded-md font-medium px-2 py-1 bg-pink-500 text-base;
  }
  .btn-outlined {
    @apply rounded-md font-medium border border-pink-200 px-2 py-1 bg-pink-100 text-pink-600;
  }
  .btn-tonal {
    @apply rounded-md font-medium px-2 py-1 bg-pink-100 text-pink-600;
  }
  .btn-text {
    @apply rounded-md font-medium px-2 py-1 text-pink-600;
  }
  .input-error {
    @apply border-2 border-red-600 focus:border-red-800;
  }
  .text-error {
    @apply text-red-600 leading-none text-sm h-4 mt-1 font-medium;
  }
  .card {
    @apply rounded-2xl bg-base-x p-4 text-txtPrimary;
  }
}

.theme-light {
  --base-x: theme('colors.white');
  --base: theme('colors.neutral.50');
  --base-m: theme('colors.neutral.200');
  --base-s: theme('colors.neutral.300');
  --txtPrimary: theme('colors.neutral.800');
  --txtSecondary: theme('colors.neutral.600');
  --txtAccent: theme('colors.pink.500');
}

.theme-dark {
  --base-x: theme('colors.neutral.800');
  --base: theme('colors.neutral.900');
  --base-m: theme('colors.neutral.700');
  --base-s: theme('colors.neutral.600');
  --txtPrimary: theme('colors.white');
  --txtSecondary: theme('colors.neutral.300');
  --txtAccent: theme('colors.pink.200');
}
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 320px;
}
